.btn {
  padding: 0.5rem;
  min-width: 100px;
  min-height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  background-color: #0080ff;
  color: #fff;
  transition: color 250ms linear, background-color 250ms linear,
    border-color 250ms linear;
}
.btn:hover,
.btn:focus {
  outline: none;
  background-color: transparent;
  color: #000;
  border-color: #0080ff;
}
