.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #0080ff;
  border-radius: 10px;
}
.label {
  width: 100%;
  font-size: 1.5rem;
}
.input {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  min-width: 200px;
  width: 50%;
  border: 1px solid #0080ff;
  border-radius: 10px;
}
.input:focus,
.input:not(:placeholder-shown) {
  border: 2px solid #0080ff;
  outline: none;
}
.btn {
  padding: 0.5rem;
  min-width: 100px;
  min-height: 40px;
  width: 30%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  background-color: #0080ff;
  color: #fff;
  transition: color 250ms linear, background-color 250ms linear,
    border-color 250ms linear;
}
.btn:hover,
.btn:focus {
  outline: none;
  background-color: transparent;
  color: #000;
  border-color: #0080ff;
}
